body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: Helvetica;
  height: 100%;
  text-align: center;
  width: 100%;
}

form {
  height: 20%;
}

.inputText {
  border-radius: 5px;
  border: 1px dashed gray;
  font-size: 1.1em;
  padding: 1% 0.5%;
  width: 40%;
}

.input .submitButton {
  height: 100%;
  width: 10%;
}